.git/
venv311/
Yamnet_transfer_learning/venv311
Yamnet_transfer_learning/data
Yamnet_transfer_learning/data_with_bg
Yamnet_transfer_learning/models
Yamnet_transfer_learning/results
Yamnet_transfer_learning/Approach1_with_bg
frontend
android_app

